#nations {
    /* position: absolute; */
    /* top: 0px; */
    /* width: 1800px;
    height: 1300px;  */

    width: 96%;
    min-height: 1300px; 

    background-image: url("../images/map_nations.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid black;

}

.nation {
    position: absolute;
    /* width: 125px; 
    height: 85px; 
    line-height: 85px; */
    width: 7%; 
    height: 5%; 
    
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;

}

.carri {
    background-image: url("https://cdn-icons-png.flaticon.com/512/99/99404.png");
    width: 30px; 
    height: 30px;
    background-size: 30px;
}

.nation-name {
    color: white;
    /* display: none; */
}

/*#groenlandia {
    width: 250px;
    height: 170px;
}

#cina {
    width: 220px;
    height: 140px;
}*/

.plus img, .minus img, .tank_img img {
    /* vertical-align: middle; */
    height: 25%;
}

.tank_setter {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
}

#dashboard{
    width: 100%;
    height: 25%;
    bottom: 0px;
    border: solid;
    background-color: brown;
    display: grid;
}

#dashboard span {
    display: inline-grid;
}

#obj_dashboard img {
    height: 60%;
}


#tank_div {
    display: inline-grid;
    grid-column: 1;
}

#tank_counter_dashboard{
    font-size: 20px;
    background-color: white;
}

#obj_dashboard {
    grid-column: 2;
}

#cards_dashboard{
    grid-column: 3;
}

#combo_span {
    grid-column: 4;
}

#attack_span {
    grid-column: 5;
}

#dices {
    grid-column: 6;
}

#throw_span {
    grid-column: 7;
}

#next {
    grid-column: 50;
}

.disabled {
    opacity: 0.5;
}

image:hover{
    cursor: pointer;
}

.cls-4:hover{
    cursor: pointer;
}

.color-selection {
    margin: 3%;
}